.container {
  background-color:lightcyan;
  border:1px solid rgb(17, 10, 10);
  width:450px;
  padding:20px;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  border-radius:20px;
  
}
.container input[type=text], [type=password]{
  border-radius:20px;
  outline:none;
  background-color: lightgray;
  padding:9px;
  margin:10px;
}
.error {
  color:black;
}
